<!-- Button trigger modal -->

<button id="collapse-from" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#buycriptoModal"
    aria-expanded="false" aria-controls="collapseWidthExample">
    Iniciar una compra
</button>

<!-- Modal -->
<div class="collapse collapse-horizontal fade" id="buycriptoModal">
    <div class=" modal-lg mt-3">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="buycriptoModalLabel">Compra criptomonedas</h5>

            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">From:</label>
                                <select id="from" class="form-select" aria-label="Selecionar una moneda">
                                    <option selected>Selecione una moneda</option>
                                   
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Q:</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="qty" placeholder="Cantidad">
                                    <button id="calculate-rate" class="btn btn-outline-secondary" type="button">Calcular</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="mb-3">
                                <label class="form-label">To:</label>
                                <select id="to" class="form-select" aria-label="Default select example">
                                    <option value="" selected>Selecciona la moneda de cambio</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <div class="cart">
                                    <div class="card-body">
                                        <div class="card-text"">
                                            <div id="result-q" class="result-q">
                                                <label class="form-label">Q:</label>
                                                <input id="qty-hidden" type="hidden" name="qty-hidden">
                                            </div>
                                            <div id="result-pu" class="result-precio">
                                                <label class="form-label">PU:</label>
                                                <input id="pu-hidden" type="hidden" name="pu-hidden">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="save-movement" type="button" class="btn btn-primary" disabled="disabled">Comprar</button>
            </div>
        </div>
        <div id="message" class="mt-3"></div>
    </div>
</div>