

<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span>Estado de la Inversión</span>
</h4>
<ul id="balance-list" class="list-group mb-3">
</ul>
<ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between">
        <span>Valor Actual</span>
        <strong id="value"></strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Precio de compra</span>
        <strong id="price"></strong>
    </li>
    <li class="list-group-item d-flex justify-content-between">
        <span>Inversión</span>
        <strong id="result"></strong>
    </li>
</ul>
<div id="empty-inversion" class="mb-3"></div>
<button id="update-state" class="btn btn-primary">Actualizar</button>
